	* {
		box-sizing: border-box;
	}

	body {
		margin: 0;
		padding: 0;
		font-family: Arial, sans-serif;
		background-color: #000000;
	}
	nav {
		width: 100%;
		background-color: #000000;

		display: flex;
		align-items: center;

		padding: 0.5%;
	}

	.n_logo {
		padding: 10px 0;
		margin-left: 2%;
	}

	.home_logo {
		border-radius: 100%;
		background-color: #2A2A2A;

		padding: 10px;
		margin-left: 6%;

		font-size: 24px;
		color: white;
	}

	.home_logo a {
		text-decoration: none;
		color: white;
	}

	.home_logo a:hover {
		color: white;
	}
	.input_box {
		width: 40%;

		background-color: #1F1F1F;

		display: flex;
		align-items: center;

		border-radius: 30px;

		margin-left: 1%;
	}

	.input_box:hover {
		background-color: #2A2A2A;
	}

	.search {
		padding: 10px;

		font-size: 24px;
		color: #B3B3B3;

		display: flex;
		align-items: center;
	}

	.search a {
		color: #B3B3B3;
		text-decoration: none;
	}

	.input {
		height: 40px;
		width: 80%;

		padding-left: 2%;

		background-color: #1F1F1F;

		border: none;

		font-size: 17px;
		color: #1ED760;

		outline: none;
	}

	.input::placeholder {
		color: #B3B3B3;
	}

	.divider {
		border-left: 1px solid #5A5A5A;
		height: 25px;
	}

	.hover_white a {
		text-decoration: none;
		color: #B3B3B3;
	}

	.hover_white a:hover,.folder_hover a :hover {
		color: white;
	}

	.pre {
		padding: 8px 10px;

		background-color: white;

		border-radius: 30px;

		font-size: 15px;

		margin-left: 6%;

		color: black;
	}

	.pre a {
		text-decoration: none;
		color: black;
	}

	.pre a:hover,
	.pre:hover {
		color: #1F1F1F;
		background-color: #D9D9D9;
	}

	.pres {
		color: #B3B3B3;

		padding: 5px;

		font-size: 16px;

		margin-left: 2%;
	}

	.press {
		color: #B3B3B3;

		padding: 3px;

		font-size: 20px;

		margin-left: 2%;
	}

	.presss {
		color: white;

		width: 35px;
		height: 35px;

		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 16px;

		margin-left: 2%;

		background-color: #1ED760;
	}


	/* =========================
	   MAIN LAYOUT
	========================= */

	main {
		padding: 0.5%;

		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		gap: 0.7%;
	}
	.left-aside {
		width: 22%;
		height: 460px;

		background-color: #121212;

		border-radius: 10px;

		color: white;
	}

	.left-aside-grid {
		display: grid;

		padding: 8% 3%;

		grid-template-columns: auto;

		gap: 20px;
	}

	.left_grid1 {
		background-color: #1F1F1F;

		color: white;

		border-radius: 10px;

		min-height: 150px;

		padding: 0 5%;

		font-size: 14px;
	}

	.left_heading {
		display: flex;

		justify-content: space-between;
		align-items: center;

		padding: 10% 3%;

		font-weight: 550;
	}

	.plus_icon {
		height: 30px;
		width: 30px;

		border-radius: 100%;

		font-size: 25px;

		display: flex;

		align-items: center;
		justify-content: center;

		color: #B3B3B3;

		background-color: #2A2A2A;
	}

	.plus_icon a {
		color: #B3B3B3;
	}

	.butn_area {
		padding: 10px;
		margin-top: 10px;
	}

	.creat_play_list_btn {
		padding: 4%;
		background-color: white;
		border: none;
		border-radius: 15px;
		font-weight: 550;
		cursor: pointer;
	}

	.creat_play_list_btn:hover {
		background-color: #D9D9D9;
	}
	.main_section {
		width: 55%;

		background-color: #121212;

		border-radius: 10px;

		height: 460px;

		overflow-x: hidden;
		overflow-y: scroll;

		display: flex;

		justify-content: center;
	}

	.main_section::-webkit-scrollbar {
		width: 8px;
	}

	.main_section::-webkit-scrollbar-track {
		border-radius: 10px;
	}

	.main_section::-webkit-scrollbar-thumb {
		background-color: #898989;
		border-radius: 10px;
		width: 20px;
	}
	.main_section::-webkit-scrollbar-thumb:hover 
	{
		background-color:white;
		cursor:pointer;
	}	
	.overflow_box {
		width: 100%;

		position: relative;

		background-color: #121212;
	}

	.main_containt_box {
		width: 100%;

		position: relative;

		background-color: #121212;
	}

	.all_area {
		width: 100%;

		display: flex;

		position: sticky;

		top: 0;
	}

	.music_area {
		display: flex;

		align-items: center;
		justify-content: space-between;

		width: 33%;
	}

	.all_box1 {
		background-color: #2A2A2A;

		padding: 4%;

		border-radius: 20px;

		color: white;
	}

	.main_box {
		padding: 0% 8%;
	}

	.top_two {
		width: 100%;

		display: flex;

		gap: 4%;
	}

	.box_one {
		width: 48%;

		background-color: #1F1F1F;

		height: 50px;

		display: flex;

		align-items: center;

		font-weight: 550;

		font-size: 14px;

		color: white;
	}

	.main_img {
		width: 50px;
		height: 50px;

		margin-right: 5px;
	}
	.search_area {
		padding: 0;

		color: white;
	}
	.explore_prem {	
		width: 100%;
		background: linear-gradient(110deg,#A90070,#172F78);
		padding: 55px 20px;
		border-radius: 10px;
		text-align: center;
		color: white;
		overflow: hidden;
	}
	.bold1 {
		display: block;
		font-size: 30px;
		font-weight: 550;
		line-height: 1.9;
		color: white;
	}

	.bold2 {
		display: block;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.5;
		color: white;
	}
	.bold3 {
		display: block;
		font-size: 18px;
		font-weight: 500;            
		margin: 0 0 25px;
		color: white;
	}
	.b5 {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		padding: 0 30px;
		margin: 0 10px;
		border-radius: 40px;
		background-color: white;
		color: black;
		font-size: 16px;
		font-weight: 550;
		cursor: pointer;
	}
	.b5:hover {
		background-color: #F5F5F5;
	}
	.b6 {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-height: 50px;
		padding: 0 30px;
		margin: 0 10px;
		border-radius: 40px;
		background-color: transparent;
		color: white;
		border: 1px solid white;
		font-size: 16px;
		font-weight: 550;
		cursor: pointer;
	}
	.b6:hover {

		background-color: rgba(255,255,255,0.10);
	}
	.b7 {
		display: block;
		margin-top: 48px;
		font-size: 14px;
		color: white;
	}
	.b8 {
		display: block;
		font-size: 28px;
		font-weight: 550;
		line-height: 1.2;
		text-align: center;
		color: white;
		margin: 50px 20px 15px;
	}
	.b9 {
		display: block;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.4;
		text-align: center;
		color: white;
		margin: 0 20px;
	}
	.footer2 {
		background-color: #121212;
		width: 100%;
	}
	.coloumns_area {
		display: flex;
		justify-content: space-between;
		background-color: #121212;
		padding: 20px;
	}
	.column1 {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		width: 16%;
	}
	.column1 h5,
	.right_top_heading {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 18px;
		color: #FFFFFF;
	}
	.column1 ul {
		list-style: none;
		background-color: transparent;
		padding: 0;
	}
	.column1 ul li {
		margin-bottom: 15px;
	}
	.column1 ul li a {
		text-decoration: none;
		color: #B3B3B3;
		font-weight: 500;
		font-size: 15px;
	}
	.column1 ul li a:hover {
		color: #FFFFFF;
	}
	.social-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
	}
	.social-links a {
		color: white;
		font-size: 20px;
		text-decoration: none;
	}
	.social-links div {
		background-color: #2A2A2A;
		width: 35px;
		height: 35px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
	}
	.social-links div:hover {
		background-color: #727272;
	}
	.hr-line {
		margin: 0% 3%;
		border: 1px solid #292929;
	}
	.last_foo {
		display: flex;
	}
	.legal_area {
		width: 75%;
	}
	.legal_area ul {
		list-style: none;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;
		padding: 0% 3%;
	}
	.legal_area ul li a {
		text-decoration: none;
		color: #B3B3B3;
	}
	.legal_area ul li a:hover {
		color: #FFFFFF;
	}
	.copy_right {
		width: 30%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		padding-right: 2%;
	}
	.footer {
		background-color: #000000;
		border-top: 1px solid #2A2A2A;
		width: 100%;
		height: 50px;
	}
	.right_aside {
		width: 22%;
		height: 460px;
		background-color: #121212;
		border-radius: 10px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.right_aside::-webkit-scrollbar {
		width: 8px;
	}
	.right_aside::-webkit-scrollbar-track {
		border-radius: 10px;
	}
	.right_aside::-webkit-scrollbar-thumb {
		background-color: #898989;
		border-radius: 10px;
		width: 20px;
	}
	.right_aside::-webkit-scrollbar-thumb:hover 
	{
		background-color:white;
		cursor:pointer;
	}	
	.scrolling_area {
		background-color: #121212;
		padding: 10% 5%;
	}
	.right_top_heading {
		padding-bottom: 2%;
	}
	.right_img1 {
		height: 245px;
		border-radius: 10px;
	}
	._2ndheading {
		font-size: 14px;
		color: #B3B3B3;
	}
	.top1 {
		font-size: 24px;
	}
	.headind2 {
		padding: 5% 0;
		line-height: 20px;
	}
	.about_artist {
		background-color: #1F1F1F;
		border-radius: 10px;
	}
	.about_backg {
		background-image: url("https://i.scdn.co/image/ab6761670000de4af40deddcf203954086d4c8c3");
		background-size: cover;
		height: 155px;
		padding-top: 1%;
		padding-left: 7%;
		color: white;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.grid-items {
		background-color: #1F1F1F;
	}
	.discp {
		padding: 5%;
		padding-top: 0;
		color: white;
	}
	.disp_area1 {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.descprition {
		font-size: 15px;
		color: gray;
	}
	.follow_button button {
		padding: 5px 10px;
		color: white;
		background-color: #121212;
		border: 1px solid white;
		border-radius: 20px;
		font-weight: bold;
		cursor: pointer;
	}
	.follow_button button:hover
	{
		background-color:white;
		color:black;
		cursor:pointer;
	}
	.gap {

		margin-top: 15px;
	}
	.folder_hover:hover
	{
		font-weight:bold;
		color:white;
		courser:pointer;
		text-decoration: none;
	}	
